<form action="<%= users_url %>" method="POST">
  <%= include_form_auth_token %>
  <h1>Create new user</h1>

  <p>
    <input
    type="text"
    name="user[email]"
    id="user_email"
    value="<%= @user.email %>">
    <label for="user_email">Email</label>
  </p>

  <p>
    <input
    type="password"
    name="user[password]"
    id="user_password">
    <label for="user_password">Password</label>
  </p>

  <input type="submit" value="Sign up">

</form>
